/* Landing Page */
.landing {
  position: relative;
  background: url('https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
    no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-1 {
  margin-right: 10px;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.fleft {
  float: left;
  width: 65%;
}
.fright {
  float: right;
  max-width: 35%;
}

.one_post {
  display: flex;
  height: 90vh;
  margin: 25px 40px;
  
  border: 1px solid lightgray;
}

.post_image {
  flex-direction: column;
  flex: 0.65;
  margin-bottom: 50px,
}

.post_content {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  margin-left: 5px;
}

.post_header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.post_headerInfo {
flex: 1;
padding-left: 17px;
}

.post_headerInfo > h6 {
margin-bottom: 1px;
margin-top: 7px;
font-weight: 500;
}
.post_headerInfo > p {
color: gray
}

.post_icon {
  margin: auto 
}

.ml {
  float: right;
  margin-bottom: auto;
  cursor: pointer;
}

.post_footer{
  position: fixed;
  left: 0;
  bottom: 0;
}